# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

pool:
  vmImage: 'ubuntu-latest' # other options: 'macOS-10.14', 'vs2017-win2016'

steps:
- task: UsePythonVersion@0 inputs:
    versionSpec: '3.6'
    displayName: 'Use Python $(python.version)'

- script: |
    python3 -m venv venv
    . venv/bin/activate
    pip install -r requirements.txt
  displayName: 'Install clean environment and install dependencies'

- script: |
    . venv/bin/activate
    pylint calculator
    pytest -v --cov=calculator
  displayName: 'Run the pylint & pytest'

# removed flake8 from 'Run pytest '
# flake8 --exclude=venv* --statistics
    
